#navBarGral{
    background-color:#1F7A8C !important ;
    border-radius: 0.5px;
}
#navBarContainer{
    padding-left:200px;
    padding-right:200px;
}
.navbar-nav {
    margin-left: auto;
    padding-left: 100px;

}
.navbar-brand {
    color: #ffffff;
    padding: 0%;
}
#ingresarNav {
    color: #ffffff;
}