/* #navBarGral {
    background-color: #5077FE !important;
}

#navBarContainer {
    padding-left: 250px;
    padding-right: 250px;

}

.navbar-nav {
    margin-left: auto;
    padding-left: 100px;
}

.navbar-brand {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

.navbar-nav a{
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.ingresar {
    border-radius: 50px;
    background-color:#3447F4;
    padding: 10px 20px;
} */

footer{
    background-color: #022B3A;
}