/*CSS PARA EL NAV*/
#navBarGral {
    background-color: #5077FE !important;
}

#navBarContainer {
    padding-left: 200;
    padding-right: 200;

}

.navbar-nav {
    margin-left: auto;
    padding-left: 100px;
}

.navbar-brand {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

.nav-link {
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    margin-right: 10px
}

.nav-link[href="#"] {
    /* Solo se aplica al que tenga el # en el href */
    border-radius: 50px;
    background-color: #3447F4;
    padding: 10px 20px;
}

/* Media query para pantallas grandes (min-width: 992px) */
@media (min-width: 992px) {
    #navBarContainer {
        padding-left: 250px;
        padding-right: 250px;
    }
}
#footerDiv{
    padding-left: 250;
    padding-right:250;
    align-items: center;
    
}

@media (min-width: 992px) {
    #footerDiv {
        padding-left: 250px;
        padding-right: 250px;
    }
}
/*CSS PARA EL NAV*/


body {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}
  
.quote-container {
max-width: 80%;
margin: 60px auto;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
}

.quote-title {
    font-size: 30px;
}

.nav-table {
    padding: 11px 0;
    margin: 20px 0;
    border-bottom: 2px solid #d1d1d1;
}

.nav-table a {
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 700;
    color: #bbbbbb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-table a:hover {
    color: #258a9e;
    background-color: #E1E5F2;
    border-bottom: 2px solid #1F7A8C;

}

.nav-table .nav-table-active {
    color: #258a9e;
    border-bottom: 2px solid #1F7A8C;
}

.table-custom {
width: 100%;
border-collapse: collapse;
}

.table-header th {
background-color: #BFDBF7;
}

.table-header th, 
.table-data td {
padding: 10px;
text-align: center;
}

.table-custom tr.table-data:nth-child(even) {
background-color: #f0f0f0;
}

.table-custom tr.table-data:hover {
background-color: #E1E5F2;
}

.table-data td {
    position: relative;
}

.table-data a {
    color: #42b982;
    font-weight: bold;
}

td:nth-child(4)::before,
td:nth-child(5)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c3f8df; 
  opacity: 0.5; 
}

td:nth-child(6)::before,
td:nth-child(7)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcd1d1; 
  opacity: 0.5; 
}

/* PAGINACION */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    padding: 8px 12px;
    background-color: #BFDBF7;
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #759fc9;
    color: #fff;
  }
  
  .pagination-numbers {
    margin: 0 10px;
  }