body{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: max-content;

}

#navBarGral {
    background-color: #5077FE !important;
}

#navBarContainer {
    padding-left: 200;
    padding-right: 200;

}

.navbar-nav {
    margin-left: auto;
    padding-left: 100px;
}

.navbar-brand {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

.nav-link {
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    margin-right: 10px
}

.nav-link[href="#"] {
    /* Solo se aplica al que tenga el # en el href */
    border-radius: 50px;
    background-color: #3447F4;
    padding: 10px 20px;
}

/* Media query para pantallas grandes (min-width: 992px) */
@media (min-width: 992px) {
    #navBarContainer {
        padding-left: 250px;
        padding-right: 250px;
    }
}

.titulo{
    color: #1F7A8C;
    font-weight: bolder;
    margin-bottom: 3%;
}
.compraContainer{
    background-color: #E1E5F2;
    justify-content: center;
    padding: 3%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.compraContainer div{
    margin: 2%;
}
#containerGeneral{
    width: 50%;
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 100px;
    
}

.compraContainer_mercadoInput select{
 width: 30%;
 margin-left: 2%;
}

.compraContainer label{
    font-weight: bold;
    display: flex;
}

.compraContainer_buttons{
    display: flex;
    justify-content: end;
    margin-right: 2%;
}

.compraContainer_cantidad{
    display: flex;
    justify-content: space-between;
    margin-left: 0%;

}
.compraContainer_simboloInput input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 2%;
}

.compraContainer_cantidad input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
margin-left: 2%;
}

table{
    width: 100%;
    padding-bottom:100px ;
}
tr{
    display: flex;
    justify-content: space-between;
}

#Footer{
    width: 100%;
    position: relative;
    bottom: 0;  
    background-color: #40404039; 
}

#footerDiv{
    padding-left: 250;
    padding-right:250;

    align-items: center;

    
}

@media (min-width: 992px) {
    #footerDiv {
        padding-left: 450px;
        padding-right: 450px;
        padding-top: 30px!important;
        margin-top: 0!important;
    }
}