/*CSS PARA EL NAV*/
#navBarGral {
    background-color: #5077FE !important;
}

#navBarContainer {
    padding-left: 250px;
    padding-right: 250px;

}

.navbar-nav {
    margin-left: auto;
    padding-left: 100px;
}

.navbar-brand {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

.navbar-nav a{
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.ingresar {
    border-radius: 50px;
    background-color:#3447F4;
    padding: 10px 20px;
}
/*CSS PARA EL NAV*/

.info_portfolio_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.portfolio_row {
    height: 80%;
    width: 100%;
}

.portfolio_div {
    height: 100%; 
    background-color: #BFDBF7;
    border: 1px solid #ced4da; /* Add a 1px solid border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 10px;
}

.portfolio_div h3 {
    color: #022B3A;
}

.portfolio_div h4 {
    color: #1F7A8C;
}