*{
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-verde-oscuro: #022B3A;
  --color-verde-claro: #1F7A8C;
  --color-blanco: #FFFFFF;
  --color-gris: #E1E5F2
}


nav{
  background-color: var(--color-verde-claro);
  height: auto;
}

.button{
  background-color: var(--color-verde-oscuro);
  color: var(--color-blanco);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition:all  0.2s ease-in-out;
}

.button:hover{
  background-color: var(--color-blanco);
  color: var(--color-verde-oscuro);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.title{
  color: var(--color-blanco);
 
}

.navbar__list{
  font-size: 1rem;
  font-weight: 400;
}
